.cabecera{
    padding-top: 1%;
    text-align: center;
    background: cornflowerblue;    
}
.pagination-button:hover{
    cursor: pointer;
}
.flechas{
    background-color: rgba(88, 104, 83, 0.473);
}