.button-order-price {
  background-color: rgba(0, 0, 0, 0.212);
  margin: 5px;
  border-radius: 25px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.button-order-price:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.container-pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1%;
  font-size: 25px;
}
.sort-by {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-gap: 10px;
    margin: auto;
    grid-template-columns: 1fr;
  }
}
