.container-user {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  padding-bottom: 1%;
}
.container-points {
  background-color: rgba(83, 78, 78, 0.527);
  margin-right: 1%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
}
