.container-user {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.container-user-points {
  display: flex;
  width: 200px;
  height: 40px;
}
.user-name {
  padding-top: 10px;
  margin-right: 10px;
}
.container-points {
  background-color: rgba(107, 102, 102, 0.527);
  display: flex;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 8px;  
}
