.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -15px;
  transition: 0.3s;
  animation: ease-in-out;
  border-radius: 6%;
  padding-top: 20%;
}
.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.image-container img {
  overflow: hidden;
  height: 200px;
}
.card-category {
  font-weight: bold;
  opacity: 0.5;
  top: 20px;
  padding-bottom: 5%;
  margin-left: 5%;
}
.card-name {
  font-weight: bold;
  opacity: 0.8;
  top: 10px;
  padding-bottom: 5%;
  margin-left: 5%;
}
.card-points {
  font-weight: bold;
  opacity: 0.8;
  top: 10px;
  padding-bottom: 5%;
  margin-left: 5%;
}
.card-container-points {
  display: flex;
  justify-content: right;
  padding-top: 5%;
  padding-right: 5%;
}
.card-points-up {
  background-color: rgba(107, 102, 102, 0.185);
  display: flex;
  justify-content: right;
  width: 55%;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 8px;
}
