.container-header {
  display: flex;
  padding-bottom: 5px;
}
.user-name {
  padding-right: 1%;
  width: 9rem;
  font-size: 25px;
}
.user-points {
  display: flex;
  justify-content: center;
  width: 12rem;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 25px;
}
