.add-more-coins-btn {
  display: grid;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 40%;
  font-size: 20px;
  margin-right: 5%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.288);
}
.add-more-coins-btn:hover {
  background-color: blue;
  color: white;
}
.container-header {
  display: flex;
  padding-bottom: 5px;
}
.user-name {
  padding-right: 1%;
  width: 9rem;
  font-size: 25px;
}
.user-points {
  display: flex;
  justify-content: center;
  width: 12rem;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 25px;
}
