a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}
.navbar {
  background: #ffcd48;
  position: sticky;
  top: 0;
}
.navbar a {
  color: #fff;
  display: inline-block;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: #000;
  transition: 0.3s ease-out all;
}

.navbar a:hover {
  background: #1d2f3d;
  color: #fff;
  text-decoration: none;
}

.contenedor {
  max-width: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

@media screen and (max-width: 900px) {
  .navbar .contenedor {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .navbar a {
    width: auto;
    flex: 1;
  }
}