.img-principal {
  position: absolute;
  bottom: 35%;
  left: 5%;
  color: white;
  opacity: 0.8;
  font-size: 65px;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .img-principal {
    position: absolute;
    bottom: 70%;
    left: 5%;
    color: white;
    opacity: 0.8;
    font-size: 25px;
    font-weight: bold;
  }
}
